<script setup lang="ts">
import { schemeTableau10 } from "d3-scale-chromatic";

// https://github.com/d3/d3-scale-chromatic/blob/v3.0.0/src/categorical/Tableau10.js
// console.log(schemeTableau10)

const {
  adobeSpectrumCategoricalScheme,
  carbonCategoricalScheme,
  cartoCategoricalSchemes,
  cloudscapeCategoricalScheme,
  crameriCategoricalSchemes,
  lightningCategoricalSchemes,
  pajamasCategoricalScheme,
  plotlyCategoricalSchemes,
  tableau20CategoricalScheme,
} = useAppConfig();
</script>

<template>
  <!-- https://www.hyperui.dev/blog/how-to-write-better-containers-in-tailwindcss -->
  <!-- https://smolcss.dev/ -->
  <!-- https://tailwindcss.com/docs/grid-template-columns -->
  <div class="max-w-screen-lg mx-auto p-4">
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-12">
      <ChartCard
        title="schemeTableau10"
        source="D3"
        :colorScheme="schemeTableau10"
      />

      <ChartCard
        title="tableau20"
        source="Vega"
        :colorScheme="tableau20CategoricalScheme"
      />

      <ChartCard
        title="Categorical"
        source="Adobe Spectrum"
        :colorScheme="adobeSpectrumCategoricalScheme"
      />

      <ChartCard
        title="Categorical"
        source="Carbon"
        :colorScheme="carbonCategoricalScheme"
      />

      <ChartCard
        title="Categorical"
        source="Cloudscape"
        :colorScheme="cloudscapeCategoricalScheme"
      />

      <ChartCard
        title="Categorical"
        source="Pajamas"
        :colorScheme="pajamasCategoricalScheme"
      />

      <ChartCard
        v-for="(scheme, schemeName) in plotlyCategoricalSchemes"
        :title="schemeName"
        source="Plotly"
        :colorScheme="scheme"
      />

      <ChartCard
        v-for="(scheme, schemeName) in cartoCategoricalSchemes"
        :title="schemeName"
        source="CARTO"
        :colorScheme="scheme"
      />

      <ChartCard
        v-for="(scheme, schemeName) in lightningCategoricalSchemes"
        :title="schemeName"
        source="Lightning"
        :colorScheme="scheme"
      />

      <ChartCard
        v-for="(scheme, schemeName) in crameriCategoricalSchemes"
        :title="schemeName"
        source="Crameri"
        :colorScheme="scheme"
      />
    </div>
  </div>
</template>

<style>
/* https://www.tempertemper.net/blog/scroll-bounce-page-background-colour */
html {
  background-color: #303438;
}
</style>
