<script setup lang="ts">
// https://www.typescriptlang.org/docs/handbook/utility-types.html#readonlytype
defineProps<{
  title: string;
  source: string;
  colorScheme: Readonly<string[]>;
}>();

// https://github.com/vueuse/vueuse/blob/v10.2.1/packages/core/useResizeObserver/demo.vue
const el = ref(null);
const chartWidth = ref(0);

useResizeObserver(el, (entries) => {
  const [entry] = entries;
  const { width } = entry.contentRect;

  chartWidth.value = width;
});
</script>

<template>
  <div class="flex flex-col gap-2" ref="el">
    <StackedBarChart :colorScheme="colorScheme" :width="chartWidth" />
    <h2 class="text-white select-all">{{ title }} ({{ source }})</h2>
  </div>
</template>
