<script setup lang="ts">
import { min, sum } from "d3-array";
import { scaleBand, scaleLinear, scaleOrdinal } from "d3-scale";

const props = defineProps<{
  colorScheme: Readonly<string[]>;
  width: number;
}>();

const { data } = useAppConfig();
// console.log(data);

const height = computed(() => {
  return props.width * 0.5;
});
const margin = {
  top: 0,
  right: 0,
  bottom: 1,
  left: 0,
};
const boundedWidth = computed(() => {
  return Math.max(props.width - margin.left - margin.right, 0);
});
const boundedHeight = computed(() => {
  return Math.max(height.value - margin.top - margin.bottom, 0);
});

// https://steveholgado.com/typescript-types-from-arrays/
function xAccessor(d: (typeof data)[number]): string {
  return d.variety;
}
function yAccessor(d: (typeof data)[number]): number {
  return d.yield;
}
function colorAccessor(d: (typeof data)[number]): string {
  return d.site;
}

function getYValue(index: number, dataSet: typeof data, barGap = 1): number {
  const signedBarGap = -barGap;
  const indexToSum = index + 1;

  const barY = sum(dataSet.slice(0, indexToSum), yAccessor);
  const yValue = yScale.value(barY);

  return yValue + signedBarGap * index;
}

function getHeight(y: number): number {
  const firstValue = yScale.value(minDomainValue.value);
  const secondValue = yScale.value(y);

  return firstValue - secondValue;
}

const xScale = computed(() => {
  const xValues = data.map(xAccessor);
  const padding = 0.1;

  const xScale = scaleBand()
    .domain(xValues)
    .range([0, boundedWidth.value])
    .paddingInner(padding)
    .paddingOuter(padding / 2);

  return xScale;
});

const yScale = computed(() => {
  const yMin = min(data, yAccessor) ?? 0;

  const yScale = scaleLinear()
    .domain([yMin, yMax.value])
    .range([boundedHeight.value, 0])
    .nice();

  return yScale;
});

const colorScale = computed(() => {
  const colorValues = data.map(colorAccessor);
  const colorScale = scaleOrdinal(props.colorScheme).domain(colorValues);

  return colorScale;
});

// https://d3js.org/d3-shape/stack#_stack
const groupedData = computed(() => {
  const groupedData = data.reduce<Record<string, typeof data>>((acc, datum) => {
    const xValue = xAccessor(datum);

    if (!Object.hasOwn(acc, xValue)) {
      acc[xValue] = [datum];
    } else {
      acc[xValue] = [...acc[xValue], datum];
    }

    return acc;
  }, {});

  return groupedData;
});
// console.log(groupedData.value);

const yMax = computed(() => {
  let yMax = 0;

  for (const xValue in groupedData.value) {
    const total = sum(groupedData.value[xValue], yAccessor);

    if (total > yMax) {
      yMax = total;
    }
  }

  return yMax;
});

const minDomainValue = computed(() => {
  return yScale.value.domain()[0];
});

const barWidth = computed(() => {
  return xScale.value.bandwidth();
});
</script>

<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :viewBox="`0 0 ${width} ${height}`"
    :width="`${width}px`"
    :height="`${height}px`"
  >
    <g :transform="`translate(${margin.left}, ${margin.top})`">
      <g v-for="dataSet in groupedData">
        <rect
          v-for="(datum, index) in dataSet"
          :x="`${xScale(xAccessor(datum))}px`"
          :width="`${barWidth}px`"
          :y="`${getYValue(index, dataSet)}px`"
          :height="`${getHeight(yAccessor(datum))}px`"
          :fill="colorScale(colorAccessor(datum))"
        />
      </g>

      <g :transform="`translate(0, ${yScale(minDomainValue)})`">
        <line x1="0px" :x2="`${boundedWidth}px`" class="axis-line" />
      </g>
    </g>
  </svg>
</template>

<style scoped>
.axis-line {
  stroke: white;
  stroke-width: 1px;
}
</style>
